ul.pagination li.details{
   color:#202020;
}
ul.pagination li a
{
    border:solid 1px;
    padding:6px 9px 6px 9px;
}
 
ul.pagination li
{
    padding-bottom:1px;
}
 
ul.pagination li a:hover,
ul.pagination li a.current
{   
    color:#FFFFFF;
    text-shadow:0px 1px #3C3C3C;
    border-color:#202020;
    background:#525252;
}
ul.pagination li a
{
    color:#444444;
    border-color:#BEBEBE;
    background:#f2f2f2;
}   