.wl_error {  
	font-size:0.8em;
	text-align:center; 
	background-color: #FFBFBF;
	margin-bottom:10px; border: 1px solid #9E2626; 
   	padding: 4px; 
   	color: #9E2626;
}

ul.pagination{
    margin:0px;
    padding:0px;
    height:100%;
    overflow:hidden;
    font:12px 'Tahoma';
    list-style-type:none;   
}
 
ul.pagination li.details{
    padding:7px 10px 7px 10px;
    font-size:14px;
}
 
ul.pagination li.dot{padding: 3px 0;}
 
ul.pagination li{
    float:left;
    margin:0px;
    padding:0px;
    margin-left:5px;
}
 
ul.pagination li:first-child{
    margin-left:0px;
}
 
ul.pagination li a{
    color:black;
    display:block;
    text-decoration:none;
    padding:7px 10px 7px 10px;
}
 
ul.pagination li a img{
    border:none;
}

ul.pagination li.total{
    padding:7px 10px 7px 10px;
    font-size:14px;
}