/* @override 
	http://wp.local/content/plugins/welocally/resources/places.css?ver=2.9.2
*/
/*-- general --*/
.text-align-right { text-align:right; }


.align-right { float:right; margin: 0 0 10px 10px; }
.align-left { float:left; margin: 0 0 10px 10px; }


/*-- jquery --*/
.ui-button-text {
	color: #505050;
}

/*--- we locally specific --*/
.place_item {
	padding:10px;
	margin-left:0px;
}

.category-places #wl-content {
	background:#fff;
	width:670px;
	padding:1px 35px;
	margin-left:10px;
}
#wl-places-calendar-header {
	position:relative;
	margin-bottom:18px;
}
.wl-calendar-buttons {
	position:absolute;
	right:0;
	top:6px;
}
h2.wl-cal-title {
	float:left;
	padding-right:15px;
	margin-bottom: 33px;
}
#wl-content .ical {
	color:#fff;
	font-size:11px;
	background:#3D6294;
	padding:1px 3px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
.wl-calendar-buttons a {
	background:#999;
	border-radius:3px;
	color:#fff;
	display:block;
	float:left;
	font-size:11px;
	font-weight:bold;
	height:27px;
	line-height:27px;
	margin:21px 0 24px 10px;
	padding: 0 4px;
	text-align:center;
	text-shadow:1px 1px 0 rgba(0,0,0,.5);
	text-transform:uppercase;
	width:auto;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.wl-month-nav {
	position: absolute;
	left: 20px;
	bottom:0px;
}
.wl-prev-month {
	margin-right: 5px;
}
.wl-next-month {
	margin-left: 5px;
}
.upcoming a.wl-button-on, .grid a.wl-button-on {background:#0F81BB;}
.upcoming a.wl-button-off, .grid a.wl-button-off {background:#999999;}
#wl-nav-above {margin:5px 0 0;}
.category-places #wl-nav-below {margin:21px 0;}
select.wl-places-dropdown {
	width:auto;
	font-size:11px;
	margin:33px 9px 0 0;
}
.category-places .post {
	padding:0 0 12px 10px;
	overflow:hidden;
	margin-bottom:0;
}
.category-places .upcoming .entry-title {
	font-size:15px;
	padding: 10px;
	margin:15px;
	color: #ddd;

}
.category-places .entry-title a, .wl-place-meta-desc, .wl-place-day {color:#555; padding:10px;}
.category-places .post .alt {
	background:#f9f9f9;
	border-width:0;
}
table.wl-calendar {
	margin:18px 0 12px;
	clear:both;
	font-size:12px;
	border-collapse:collapse;
	border:1px solid #aaa;
}
.wl-calendar .daynum {
	background-color: #eee;
	color:#333;
	font-size:10px;
	padding:3px 9px;
}
.wl-calendar td.wl-present .daynum {
	background-color: #2d81bb;
	color: #fff;
}
.wl-calendar td.wl-past .daynum {color: #aaa;}
.wl-calendar th {
	width: 250px;
	height: 10px;
	color: #fff;
	padding:4px 0;
	text-shadow:1px 1px 0 rgba(0,0,0,.5);
	text-align:center;
}
.wl-calendar td {
	height: 100px;
	width:14.28%;
	color: #114B7D;
	vertical-align: top;
	border:1px solid #aaa;
	padding:0;
}

.wl-calendar td .wl-place {
	padding:6px 9px;
	line-height:1.2;
}
.wl-calendar td a {font-size:91.7%;}
.wl-calendar hr {
	border:0 none !important;
	display:block;
	height:1px;
	background-color:#D4DBCC;
	margin:0 9px;
}
.wl-calendar .wl-place {position:relative;}
.wl-calendar .wl-tooltip {
	border:1px solid #666;
	position:absolute;
	z-index:1001;
	bottom:30px;
	left:3px;
	width:320px;
	background-color:#f9f9f9;
	color:#333;
	line-height:1.4;
}
.wl-tooltip .wl-arrow {
	width:19px;
	height:11px;
	display:block;
	background:url(images/tooltip-arrow.png) no-repeat 0 bottom;
	position:absolute;
	bottom:-11px;
	left:20px;
}
.wl-calendar .wl-right .wl-tooltip {
	left:auto;
	right:3px;
}
.wl-right .wl-tooltip .wl-arrow {
	left:auto;
	right:30px;
}
.wl-tooltip .wl-place-title {
	background-color: #3F7DBD;
	margin:0;
	color:#fff;
	font-size:12px;
	padding:0 6px;
	height:24px;
	line-height:24px;
}
.wl-tooltip .wl-place-body {
	font-size:11px;
	padding:3px 6px 6px;
}
.wl-tooltip .wl-place-date {
	font-style:italic;
	margin:3px 0;
}
#wl-content {text-align:left; width:920px; font-size: 1.2em;}
.wl-place .post {position:relative;}
#wl-place-meta {
	border-width:1px 0;
	border-style:solid;
	border-color:#aaa;
	margin: 18px 0 12px;
	padding: 12px 0 2px;
	overflow:hidden;
	clear:both;
	font-size: 12px;
}
#wl-place-meta .column {
	float:left;
	width:45%;
	padding:0 4% 0 0;
	text-align:left;
	margin:0;
}
#wl-place-meta dt {
	float:left;
	clear:left;
	font-weight:bold;
	width:70px;
}
#wl-place-meta dd {
	padding:0;
	margin-left:70px;
	margin-bottom: 10px;
}
#wl-place-meta .gmap, .wl-place-meta-desc .gmap {
	color:#fff;
	font-size:9px;
	background:#3D6294;
	padding:1px 3px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
span.back {margin:12px 0 0;}
#wl-places-loop {
	font-size:13px;
	clear:both;
	margin: 10px 0 0;
}
.wl-places .wl-place-entry {
	width:60%;
	float:left;
	padding:0 5% 0 0;
}
.wl-places .wl-place-list-meta {
	float:right;
	border-left:1px solid #ccc;
	padding:0 0 0 4%;
	width:30%;
	font-size:12px;
	margin-bottom:20px;
}
.wl-place-list-meta table {border-collapse:collapse;}
.wl-place-list-meta td {
	vertical-align:top;
	padding-bottom:4px;
	text-align:left;
}
.wl-place-meta-desc {
	font-weight:bold;
	padding-right:12px;
	width:64px;
}
h4.wl-place-day {
	font-weight:bold;
	font-size:18px;
	margin:12px 0 -3px;
	clear:both;
}
h4.wl-place-day + .post .entry-title {margin-top:6px;}
#placebrite-embed {
	width:100%;
	min-height:225px;
	margin:24px 0;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {zoom:1; /* For IE */}
.wl-places-error {display:none;}
.wl_hide {display:none;}
.wl-multi-place-day {color: #0F81BB;}


/* all fields  */
.wl-place-name { font-weight:bold; }
.wl-place-name a:link {  text-decoration:none; }
.wl-place-name a:visited { text-decoration:none; }
.wl-place-name a:hover {  text-decoration:underline; }
.wl-place-name a:active {  text-decoration:underline; }
.wl-place-widget-name { }

.wl-place-category { }
.wl-place-category a:link { text-decoration:none; }
.wl-place-category a:visited { text-decoration:none; }
.wl-place-category a:hover { text-decoration:underline; }
.wl-place-category a:active { text-decoration:underline; }

.wl-place-address { font-size: 1.0em;  }
.wl-place-widget-address { }

.wl-place-widget-title {
	margin-bottom: 5px;
	border-bottom: 1px solid #777777;}
 
 

.wl-place-widget-website { }
.wl-place-widget-category { }


/*.wl-place-widget-category { color: #675F34; font-variant: small-caps; font:76% Verdana, Arial, Helvetica, sans-serif; text-transform:uppercase } */



#map_canvas { margin-bottom: 0px }

#map_widget_container { margin-bottom: 20px }

.wl-map-infobox { border: 1px solid #444444; margin-top: 8px; background: #eeeeee; padding: 5px;  /* for IE */ }



.map_canvas_post {display:none; height:250px}
.wl-map .map-canvas img { max-width: none !important; } /* fix map tiles bug */

.wl-place-content { list-style-type: none; margin: 0; padding: 3px; width: 100%; }
.wl-place-content ul {margin: 0; padding: 0;}
.wl-place-content li { 
			font-size: 1.0em;			
			display:inline-block; 
			vertical-align:top; 
            overflow:hidden; 
            margin-right:10px;
}	

.wl-place-link{  
			display:inline-block; 
}

.wl-place-content table
{
	border-collapse: collapse;
	padding: 0px;
}

.wl-place-content td.wl-place-link-item
{
	vertical-align:middle;
	padding: 0px;
}

.wl-place-excerpt { 
	font-size:0.8em; 
	margin: 0px 0px 10px 0px;
}
	
.wl-place-widget-links { text-align:right; }
.wl-left-sidebar { width: 140px }
	
#wl-sidebar-1 {  width: 140px, display: inline-block;}	
#wl-map-content {  width: 700px, display: inline-block;}

.wl_options_heading { margin-top:10px; color: #333333; font-variant: small-caps; font:1.2em Verdana, Arial, Helvetica, sans-serif; text-transform:uppercase}

.form-table {  
	border-collapse: separate;
	-webkit-border-radius: 4px;
   	-moz-border-radius: 4px;
   	border-radius: 4px;
   	padding: 4px;
	width:98%; margin-bottom:10px;  
	border: 1px solid #888888; 
	background: #f2f2f2; padding: 5px; } 

#welocally_cat_map_none{ display:inline-block; width: 53px; height:44px; border: 0px solid #888888; background:url('../images/layout_selector_none_up.png') no-repeat 0 bottom;}
#welocally_cat_map_center{display:inline-block; width: 53px; height:44px; border: 0px solid #888888; background:url('../images/layout_selector_center_up.png') no-repeat 0 bottom;}
#welocally_cat_map_left{display:inline-block; width: 53px; height:44px; border: 0px solid #888888; background:url('../images/layout_selector_left_up.png') no-repeat 0 bottom;}
#welocally_cat_map_right{display:inline-block; width: 53px; height:44px; border: 0px solid #888888; background:url('../images/layout_selector_right_up.png') no-repeat 0 bottom;}

#welocally-post-error {
	padding: 5px;
	list-style-type: none;
}

#welocally-post-error li{
	margin: 5px;
	
}

.welocally-error {
	border: #D12424 1px solid;
	color: #D12424;
	font: 1.2em Verdana, Arial, Helvetica, sans-serif; 
	background-color: #EBC7C7;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	margin-bottom: 5px;
}

.welocally-update {
	border: #96841A 1px solid;
	color: #96841A;
	font: 1.2em Verdana, Arial, Helvetica, sans-serif; 
	background-color: #F5EAAB;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	margin-bottom: 5px;
}

.welocally-message {
	border: #2484BF 1px solid;
	color: #2484BF;
	font: 1.2em Verdana, Arial, Helvetica, sans-serif; 
	background-color: #D3E3ED;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	margin-bottom: 5px;
}


.welocally-context-help {
	width: 100%;
	text-align: right;
}

.wl-place-widget-phone {

}

.wl-place-name { 
	font-family: %8$s; 
	color: #%9$s; 
	font-size: %10$sem;
}
.wl-place-name a {
	font-family: %8$s; 
	color: #%9$s; 
}

.wl-place-widget-name{ }
.wl-place-address { 
	font-family: %11$s; 
	color: #%12$s; 
	font-size: %13$sem;
}
.wl-place-widget-address{ }


.gmnoprint img { 
max-width: 1030px; 
}  

#map_canvas_post img { max-width: 1030px; }
#map_canvas_widget img { max-width: 1030px;  }
.gmnoprint img { max-width: 1030px;  }

.supported-theme {
	background:#999;
	border-radius:3px;
	color:#fff;
	display:inline-block;
	font-size:11px;
	font-weight:bold;
	height:27px;
	line-height:27px;
	padding: 4px;
	text-align:center;
	text-shadow:1px 1px 0 rgba(0,0,0,.5);
	width:auto;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

#helpbar {
	width:97%; 
	margin-bottom:10px;
	margin-top:10px;    
	border: 1px solid #888888; 
	background: #eeeeee; padding: 5px;
	border-radius:3px;
	padding: 4px;
	width:auto;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.options-text {
	color: #888888;
	font-style: italic;
	font-size:1.4em;
	font: Arial, Helvetica, sans-serif;
}

.button-bar {
	font-size: 65%;
}


/* place tag*/

.share-place-tag { 
	margin:0px; 
	width:100%;
  	display:none; 
}

.share-place-tag-tagtext { 
	width: 98%; 
	font-family: monospace; 
	margin:2px; 
}

.post-place-tag-tagtext { 
	font-family: monospace; 
	margin:2px; 
}

.share-place-tag-info { 
	display: inline-block;
	font-size:0.7em; 
	color: #888888;
	font-style: italic;
	font: Arial, Helvetica, sans-serif; 
	width:72%;
	margin-left: 3px;
}

.tag-powered-by { 
	display:inline-block; 
	text-align:right;
	font-size:0.7em;  
	width:26%;
}

/*style of the links below a place*/ 
ul.wl-place-links{ 
	list-style-type:none; 
	margin: 0px; 
	padding: 0px; 
	-webkit-padding-start: 0px;
	padding-left: 0px;
}
ul.wl-place-links li{ display:inline-block; margin: 0px 0px 0px 0px; padding: 0px; padding-left: 0px; }

.share-place-tag { background-color: #f9f9f9; border: 1px solid #e1e1e1; padding: 3px;}

/*ul.wl-place-links li a{ border-left:8px solid white; text-decoration:none; padding:0;  }*/

.wl-place-widget-links { text-align:right; }

div.gmap img {max-width:100000px; max-width: none}

#wl_layout_selectable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#wl_layout_selectable li { 
		margin: 3px; 
		width: 53px; height:44px;
		display:inline-block; 
		vertical-align:top; 
   }	
   
   #items ul, #items ul, { margin: 0px;  }
   
   #content-body ul, #content-body ol { margin: 0px;  }


#wl_layout_selectable .ui-selecting {  }
#wl_layout_selectable .ui-selected { border: 3px solid #777777; margin: 0px; }
	
#slider_amount {margin:5px; color: #888888; font-variant: small-caps; font:1.2em Verdana, Arial, Helvetica, sans-serif; text-transform:uppercase}

/* need to organize better, basic styles to be used by all plugin admin screens */

.wl_admin_codetext {   font-size: 0.8em; font-family: Fixed, monospace; font-weight:bold; min-width: 600px; }
.wl_admin_wide100 {   width:100%;  }
.wl_admin_wide80 {   width:80%;  }

